.footer {
    height: 10vh;
    min-width: 800px;
    border-top: 2px solid white;
    background: rgb(0, 1, 85);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    z-index: 10;
  }

.footer p {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: smaller;
}