body {
    margin: 0;
    padding: 0;
    background: rgb(59, 59, 59);
    width: 100%;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 65px;
    min-width: 100%;
}